<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mb-0 pb-0">
    <div class="d-flex justify-content-center mt-3 mb-3 pb-0">
      <h2 class="d-flex flex-row justify-content-center mt-3">
        <i class="fas fa-user-alt text-info mx-auto"></i>
      </h2>
    </div>
    <div class="card-body mt-1 pt-2 mb-0 pb-3 shadow-lg">
      <h3 class="text-info d-flex justify-content-center mt-2 pt-1 mb-3">
        Register
      </h3>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group text-primary">
          <label
            for="petrol_station_company"
            [ngClass]="fval.petrol_station_company.valid ? 'text-info' : ''"
            >Area <i
              *ngIf="fval.petrol_station_company.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-train text-primary mx-auto"
                  style="size: 50px;"
                >
                </i>
              </div>
            </div>
            <input
              type="text"
              list="petrol_station_company"
              formControlName="petrol_station_company"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.petrol_station_company.touched ||
                    fval.petrol_station_company.dirty) &&
                  fval.petrol_station_company.errors
              }"
              autocomplete="off"
              placeholder="Select Location"
              (change)="updateThePetrolStations($event)"
            />

            <datalist id="petrol_station_company">
              <option *ngFor="let item1 of theCompanyStations">{{
                item1.petrol_station_company_name
              }}</option>
            </datalist>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.petrol_station_company.touched ||
                fval.petrol_station_company.dirty) &&
              fval.petrol_station_company.errors?.required
            "
          >
            The Area Region is required!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.petrol_station_company.touched ||
                fval.petrol_station_company.dirty) &&
              fval.petrol_station_company.errors
                ?.belongTopetrol_station_companys
            "
          >
            Please select a valid Area Region!
          </div>
          <!-- <ngx-alerts></ngx-alerts> -->
        </div>

        <div class="form-group text-primary">
          <label
            for="petrol_station"
            [ngClass]="fval.petrol_station.valid ? 'text-info' : ''"
            >Service Points<i
              *ngIf="fval.petrol_station.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-assistive-listening-systems text-primary mx-auto"
                  style="size: 50px;"
                >
                </i>
              </div>
            </div>
            <input
              type="text"
              list="petrol_station"
              formControlName="petrol_station"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.petrol_station.touched || fval.petrol_station.dirty) &&
                  fval.petrol_station.errors
              }"
              autocomplete="off"
              placeholder="Select Service Point"
            />

            <datalist id="petrol_station">
              <option *ngFor="let item2 of thePetrolStations">{{
                item2.petrol_station_name
              }}</option>
            </datalist>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.petrol_station.touched || fval.petrol_station.dirty) &&
              fval.petrol_station.errors?.required
            "
          >
            The Service station is required!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.petrol_station.touched || fval.petrol_station.dirty) &&
              fval.petrol_station.errors?.belongTopetrol_stations
            "
          >
            Please select a valid Service station!
          </div>
          <!-- <ngx-alerts></ngx-alerts> -->
        </div>

        <div class="form-group text-primary">
          <label
            for="user_role"
            [ngClass]="fval.user_role.valid ? 'text-info' : ''"
            >Account<i *ngIf="fval.user_role.valid" class="material-icons"
              >check_circle</i
            ></label
          >

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-user-cog text-primary mx-auto"
                  style="size: 50px;"
                >
                </i>
              </div>
            </div>
            <input
              type="text"
              list="user_role"
              formControlName="user_role"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.user_role.touched || fval.user_role.dirty) &&
                  fval.user_role.errors
              }"
              autocomplete="off"
              placeholder="Select The User Role"
            />
            <datalist id="user_role">
              <option *ngFor="let item3 of userRoleInfo">{{
                item3.user_role_name
              }}</option>
            </datalist>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.user_role.touched || fval.user_role.dirty) &&
              fval.user_role.errors?.required
            "
          >
            The Account is required!
          </div>

          <div
            class="text-danger col"
            *ngIf="
              (fval.user_role.touched || fval.user_role.dirty) &&
              fval.user_role.errors?.belongTouser_roles
            "
          >
            Please select a valid account!
          </div>

          <!-- <ngx-alerts></ngx-alerts> -->
        </div>

        <div class="form-group text-primary">
          <label
            for="main_contact_number"
            [ngClass]="fval.main_contact_number.valid ? 'text-info' : ''"
            >Mobile Number<i
              *ngIf="fval.main_contact_number.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-phone text-primary mx-auto"
                  style="size: 50px;"
                ></i>
              </div>
            </div>
            <input
              id="main_contact_number"
              formControlName="main_contact_number"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.main_contact_number.touched ||
                    fval.main_contact_number.dirty) &&
                  fval.main_contact_number.errors
              }"
              placeholder="Mobile number like 07XXXXXXXX"
              autocomplete="off"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.main_contact_number.touched ||
                fval.main_contact_number.dirty) &&
              fval.main_contact_number.errors?.required
            "
          >
            The main mobile number is required!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.main_contact_number.touched ||
                fval.main_contact_number.dirty) &&
              fval.main_contact_number.errors?.hasNumber
            "
          >
            The main mobile number should be equal to 10 "digits"!
          </div>
        </div>

        <div class="form-group text-primary">
          <label
            for="full_name"
            [ngClass]="fval.full_name.valid ? 'text-info' : ''"
            ><i *ngIf="fval.full_name.valid" class="material-icons"
              >check_circle</i
            >Full Name</label
          >
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
                </i>
              </div>
            </div>
            <input
              id="full_name"
              formControlName="full_name"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.full_name.touched || fval.full_name.dirty) &&
                  fval.full_name.errors
              }"
              placeholder="Enter Name"
              autocomplete="off"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.full_name.touched || fval.full_name.dirty) &&
              fval.full_name.errors?.required
            "
          >
            The full name is required!
          </div>
        </div>
        <div class="form-group text-primary">
          <label for="sex" [ngClass]="fval.sex.valid ? 'text-info' : ''"
            ><i *ngIf="fval.sex.valid" class="material-icons">check_circle</i
            >Gender</label
          >
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-genderless text-primary mx-auto"
                  style="size: 50px;"
                >
                </i>
              </div>
            </div>
            <input
              type="text"
              list="sex"
              formControlName="sex"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.sex.touched || fval.sex.dirty) && fval.sex.errors
              }"
              autocomplete="off"
              placeholder="Select The Gender"
            />
            <datalist id="sex" class="bg-success">
              <option>Male</option>
              <option>Female</option>
            </datalist>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.sex.touched || fval.sex.dirty) && fval.sex.errors?.required
            "
          >
            Gender is required
          </div>
        </div>

        <div class="form-group text-primary">
          <label
            for="date_of_birth"
            [ngClass]="fval.date_of_birth.valid ? 'text-info' : ''"
            ><i *ngIf="fval.date_of_birth.valid" class="material-icons"
              >check_circle</i
            >Date Of Birth</label
          >

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-calendar-alt text-primary mx-auto"
                  style="size: 50px;"
                >
                </i>
              </div>
            </div>
            <input
              id="date_of_birth"
              formControlName="date_of_birth"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.date_of_birth.touched || fval.date_of_birth.dirty) &&
                  fval.date_of_birth.errors
              }"
              placeholder="Click to select Date Of Birth"
              autocomplete="off"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', isAnimated: true }"
              placement="top"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.date_of_birth.touched || fval.date_of_birth.dirty) &&
              fval.date_of_birth.errors?.required
            "
          >
            The date of birth is required!
          </div>
        </div>

        <div class="form-group text-primary">
          <label
            for="password"
            [ngClass]="fval.password.valid ? 'text-info' : ''"
            >PIN<i *ngIf="fval.password.valid" class="material-icons"
              >check_circle</i
            ></label
          >

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-lock text-primary mx-auto"
                  style="size: 50px;"
                ></i>
              </div>
            </div>
            <input
              id="password"
              formControlName="password"
              [type]="fieldType ? 'text' : 'password'"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.password.touched || fval.password.dirty) &&
                  fval.password.errors
              }"
              placeholder="Enter your PIN"
              autocomplete="off"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-eye-slash': !fieldType,
                    'fa-eye': fieldType
                  }"
                  (click)="toggleFieldType()"
                ></i>
              </span>
            </div>
          </div>

          <div
            class="text-danger col"
            *ngIf="
              (fval.password.touched || fval.password.dirty) &&
              fval.password.errors?.required
            "
          >
            PIN is Required!
          </div>

          <div
            class="col"
            *ngIf="
              (fval.password.touched || fval.password.dirty) &&
              fval.password.invalid
            "
            [ngClass]="
              fval.password.errors?.required || fval.password.errors?.minlength
                ? 'text-danger'
                : 'text-info'
            "
          >
            <i class="material-icons">{{
              fval.password.errors?.required || fval.password.errors?.minlength
                ? "cancel"
                : "check_circle"
            }}</i>
            Minimum of four digits!
          </div>
          <div
            class="col"
            *ngIf="
              (fval.password.touched || fval.password.dirty) &&
              fval.password.invalid
            "
            [ngClass]="
              fval.password.errors?.required || fval.password.errors?.minlength
                ? 'text-danger'
                : 'text-info'
            "
          >
            <i class="material-icons">{{
              fval.password.errors?.required || fval.password.errors?.maxlength
                ? "cancel"
                : "check_circle"
            }}</i>
            Maximum four digits allowed!
          </div>

          <div
            class="col"
            *ngIf="
              (fval.password.touched || fval.password.dirty) &&
              fval.password.invalid
            "
            [ngClass]="
              fval.password.hasError('required') ||
              fval.password.hasError('hasNumber')
                ? 'text-danger'
                : 'text-info'
            "
          >
            <i class="material-icons">{{
              fval.password.hasError("required") ||
              fval.password.hasError("hasNumber")
                ? "cancel"
                : "check_circle"
            }}</i>
            Only digits are Allowed!!
          </div>
        </div>

        <div class="d-flex my-2 py-2 mx-auto">
          <button
            type="submit"
            class="btn btn-info col-5 mx-auto"
            [disabled]="!userForm.valid"
          >
            Register
          </button>

          <button
            type="button"
            class="btn btn-info col-5 mx-auto"
            (click)="returnHome()"
          >
            Cancel
          </button>
          <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
            <p class="text-light">Please wait...</p>
          </ngx-spinner>

          <label class="col" *ngIf="errored" class="text-danger">
            <i class="material-icons">Cancel</i>

            <ngx-alerts></ngx-alerts>
          </label>

          <label class="col" *ngIf="posted" class="text-info">
            <i class="material-icons">check_circle</i>
            <ngx-alerts></ngx-alerts>
          </label>
        </div>
      </form>
      <!-- </div>  -->
      <!-- </div>   -->
    </div>
    <!--footer -->
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-2 mx-auto"
    >
      <div class="small text-center text-info">
        Copyright &copy; 2020 - Mafuta Gaffe
      </div>
    </div>
    <!--/ footer -->
  </div>
</div>
