<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1">
    <div class="container mt-3 mx-0 shadow-lg">
      <div class="row">
        <div class="col-2 mt-2">
          <a class="text-info mx-1" routerLink="/dashboardpump/shiftmanagement">
            <i class="fas fa-arrow-left" aria-hidden="true"></i
          ></a>
        </div>
        <div class="col-10">
          <h4
            class="rub-head4 text-info align-right font-weight-bold pt-0 py-1"
          >
            Payment
          </h4>
        </div>
      </div>
    </div>
    <div class="invest-card card-body mt-2 pt-3 mb-0 mx-auto pb-0 shadow-lg">
      <h5 class="text-info font-weight-bold d-flex justify-content-center mt-2 pt-1 mb-3">
        Payment Details
      </h5>
    <form [formGroup]="userForm" (ngSubmit)="pay()">
        <div class="form-group text-primary">
          <label
            for="number_plate"
            [ngClass]="fval.number_plate.valid ? 'text-info' : ''"
            >Number Plate<i
              *ngIf="fval.number_plate.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <input
              type="text"
              list="number_plate"
              formControlName="number_plate"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.number_plate.touched || fval.number_plate.dirty) &&
                  fval.number_plate.errors
              }"
              autocomplete="off"
              placeholder="Select Number Plate"
            />
            <!-- numberPlates: NumberPlates[]; -->
            <datalist id="number_plate">
              <option *ngFor="let item of numberPlates">{{
                item.customers_number_plate
              }}</option>
            </datalist>
          </div>

          <div
            class="text-danger col"
            *ngIf="
              (fval.number_plate.touched || fval.number_plate.dirty) &&
              fval.number_plate.errors?.required
            "
          >
            The number plate is required!
          </div>

          <div
            class="text-warning col"
            *ngIf="
              (fval.number_plate.touched || fval.number_plate.dirty) &&
              fval.number_plate.errors?.minlength
            "
          >
            The number plate should have a minimum of 8 characters!
          </div>

          <div
            class="text-danger col"
            *ngIf="
              (fval.number_plate.touched || fval.number_plate.dirty) &&
              fval.number_plate.errors?.maxLength
            "
          >
            The number plate should have a maximum of 8 characters!
          </div>
        </div>
        <div class="form-group text-primary">
          <label for="amount_to_pay" [ngClass]="fval.amount_to_pay.valid ? 'text-info' : ''">Amount<i  *ngIf="fval.amount_to_pay.valid" class="material-icons">check_circle</i></label>
          <div class="input-group mb-0">
            <input type="text"  list="amount_to_pay"  formControlName="amount_to_pay" class="form-control"  [ngClass]=" { 'is-invalid': (fval.amount_to_pay.touched||fval.amount_to_pay.dirty) && fval.amount_to_pay.errors }" autocomplete="off" placeholder="Enter Amount To Pay" (keyup)="onKey($event)" />
          </div>
          <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.required">The amount to pay is required!</div>
          <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.maxLength">Please enter valid amount to pay!</div>
          <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.hasNumber">Please enter valid amount to pay!</div>
            </div>

        <div class="form-group text-primary">
          <label for="pin" [ngClass]="fval.pin.valid ? 'text-info' : ''"
          >PIN<i *ngIf="fval.pin.valid" class="material-icons"
            >check_circle</i
          ></label
        >

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-lock text-primary mx-auto"
                  style="size: 50px;"
                ></i>
              </div>
            </div>
            <input
            [type]="fieldType ? 'text' : 'password'"
              list="pin"
              formControlName="pin"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.pin.touched || fval.pin.dirty) && fval.pin.errors
              }"
              placeholder="Enter your PIN"
              autocomplete="off"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-eye-slash': !fieldType,
                    'fa-eye': fieldType
                  }"
                  (click)="toggleFieldType()"
                ></i>
              </span>
            </div>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.pin.touched || fval.pin.dirty) && fval.pin.errors?.required
            "
          >
            The PIN is required!
          </div>

          <div
            class="text-danger col"
            *ngIf="
              (fval.pin.touched || fval.pin.dirty) && fval.pin.errors?.maxlength
            "
          >
            Please enter a valid pin!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.pin.touched || fval.pin.dirty) && fval.pin.errors?.hasNumber
            "
          >
            Only digits are allowed!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.pin.touched || fval.pin.dirty) && fval.pin.errors?.minlength
            "
          >
            Please enter a valid pin!
          </div>
        </div>
        <div class="d-flex mt-3 mb-0 pt-1 pb-0 mx-auto">
          <div class="form-group">
            <button *ngIf='!checkedOk' type="button" class="btn btn-info" [disabled]="!userForm.valid" (click)='checkLoanRepayability()'>Check</button>

        <ngx-spinner class="bg-success" size="medium" type="line-spin-fade">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons">cancel</i>
          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <i class="material-icons">check_circle</i>
          <ngx-alerts></ngx-alerts>
        </label>
          </div>
        </div>
          <div class="table-responsive pt-2">
    <table class="state-table table table-striped table-sm" *ngIf="checkedOk">
      <tbody class="text-primary">
        <tr>
          <td>Client Name:</td>
          <td class="badge badge-pill badge-success">
            {{loanDetails.customers_name}}
          </td>
        </tr>
        <tr>
            <td>Amount due:</td>
            <td class="badge badge-pill badge-success">

              {{loanDetails.loan_amount_due|number}}
            </td>
</tr>
      </tbody>
    </table>
          </div>
              <div class="d-flex mt-3 mb-0 pt-1 pb-0 mx-auto" *ngIf="checkedOk">
      <button
        type="submit"
        class="btn btn-info col-5 mx-auto"
        [disabled]="!userForm.valid"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-info col-5 mx-auto"
        (click)="refresh()"
      >
        Cancel
      </button>
      <ngx-alerts></ngx-alerts>
      <ngx-spinner class="bg-success" size="medium" type="line-spin-fade">
        <p class="text-light">Please Wait...</p>
      </ngx-spinner>

      <label class="col" *ngIf="errored" class="text-danger">
        <i class="material-icons">cancel</i>
        <ngx-alerts></ngx-alerts>
      </label>

      <label class="col" *ngIf="posted" class="text-info">
        <i class="material-icons">check_circle</i>
        <ngx-alerts></ngx-alerts>
      </label>
</div>

      </form>
    </div>
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mx-auto px-0"
    >
      <div class="small text-center text-info mx-0 px-0">
        Area Region :<span class="text-primary font-weight-bold"
          ><strong> {{ theCompany }}</strong>
        </span>&nbsp;
        Service station:<span class="text-primary font-weight-bold"
          ><strong> {{ station }}</strong>
        </span>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="container-fluid">

        <div class="row">
         <div class="col-12">

         <div class="jumbotron jumbotron-fluid p-1"> -->
           <!-- <div class="card-header "> -->
             <!-- <h4 class="text-info text-center">Payament</h4> -->
             <!-- </div> -->
             <!-- card-body -->
    <!-- <div class=" card-body"> -->
       <!-- <div class="row"> -->
      <!-- <div class="col"> -->
       <!-- <div class="row" >
      <div class="col ">

      <form [formGroup]="userForm" (ngSubmit)="pay()" >

      <div class="form-group  text-small">
      <label for="number_plate" [ngClass]="fval.number_plate.valid ? 'text-info' : ''">Number Plate:<i  *ngIf="fval.number_plate.valid" class="material-icons">check_circle</i></label>

      <input type="text"  list="number_plate"  formControlName="number_plate" class="form-control text-small"  [ngClass]=" { 'is-invalid': (fval.number_plate.touched||fval.number_plate.dirty) && fval.number_plate.errors}" autocomplete="off" placeholder="SELECT Number Plate" > -->
      <!-- numberPlates: NumberPlates[]; -->
      <!-- <datalist id="number_plate">
          <option *ngFor="let item of numberPlates">{{item.customers_number_plate}}</option>
        </datalist>

     <div class="text-danger col" *ngIf="(fval.number_plate.touched||fval.number_plate.dirty)  && fval.number_plate.errors?.required">The number plate is required</div>

     <div class="text-warning col" *ngIf="(fval.number_plate.touched||fval.number_plate.dirty)  && fval.number_plate.errors?.minlength">The number plate should have a minimum of 8 characters</div>

     <div class="text-danger col" *ngIf="(fval.number_plate.touched||fval.number_plate.dirty)  && fval.number_plate.errors?.maxLength">The number plate should have a maxmum of 8 characters</div> -->

     <!-- <ngx-alerts></ngx-alerts> -->

     <!-- </div>

     <div class="form-group">

     <label for="amount_to_pay" [ngClass]="fval.amount_to_pay.valid ? 'text-info' : ''">Amount To Repay:<i  *ngIf="fval.amount_to_pay.valid" class="material-icons">check_circle</i></label>

      <input type="text"  list="amount_to_pay"  formControlName="amount_to_pay" class="form-control"  [ngClass]=" { 'is-invalid': (fval.amount_to_pay.touched||fval.amount_to_pay.dirty) && fval.amount_to_pay.errors }" autocomplete="off" placeholder="Enter Amount To Pay" (keyup)="onKey($event)">

      <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.required">The amount to borrow is required</div>
      <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.maxLength">Please enter  valid amount to borrow</div> -->
      <!-- <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.minlength">Please enter  valid amount to borrow</div> -->
      <!-- <div class="text-danger col" *ngIf="(fval.amount_to_pay.touched||fval.amount_to_pay.dirty)  && fval.amount_to_pay.errors?.hasNumber">Please enter  valid amount to borrow</div> -->
       <!-- <ngx-alerts></ngx-alerts> -->
        <!-- </div>


     <div class="form-group">

            <label for="pin" [ngClass]="fval.pin.valid ? 'text-info' : ''">PIN:<i  *ngIf="fval.pin.valid" class="material-icons">check_circle</i></label>

             <input type="password"  list="pin"  formControlName="pin" class="form-control"  [ngClass]=" { 'is-invalid': (fval.pin.touched||fval.pin.dirty) && fval.pin.errors }" autocomplete="off" placeholder="PIN">

             <div class="text-danger col" *ngIf="(fval.pin.touched||fval.pin.dirty)  && fval.pin.errors?.required">The PIN is required</div>

             <div class="text-danger col" *ngIf="(fval.pin.touched||fval.pin.dirty)  && fval.pin.errors?.maxlength">Please enter a valid pin</div>
             <div class="text-danger col" *ngIf="(fval.pin.touched||fval.pin.dirty)  && fval.pin.errors?.hasNumber">Only digits are allowed</div>
             <div class="text-danger col" *ngIf="(fval.pin.touched||fval.pin.dirty)  && fval.pin.errors?.minlength">Please enter a valid pin</div>

               </div>


      <div class="row d-flex flex-row">
       <div class="col">
       <div class="form-group">

       <button *ngIf='!checkedOk' type="button" class="btn btn-success" [disabled]="!userForm.valid" (click)='checkLoanRepayability()'>Check</button>

          <ngx-spinner
          class="bg-success"
         size="medium"
         type="line-spin-fade" >
         <p class="text-light">Wait!!!...</p>
           </ngx-spinner>

            <label class="col"  *ngIf="errored" class="text-danger">
             <i class="material-icons">cancel</i>
              <ngx-alerts></ngx-alerts>
             </label>

             <label class="col"  *ngIf="posted" class="text-info">
               <i class="material-icons">check_circle</i>
                <ngx-alerts></ngx-alerts>
                  </label> </div> </div></div>
                  <div class="">
                  <table class="table table-condensed table-borderless table-responsive jumbotron-fluid" *ngIf='checkedOk'>
 -->
                    <!-- style="word-wrap: break-word;min-width: 160px;max-width: 160px;  -->
                        <!-- <tbody> <tr>
                         <td class="text-secondary ">CUSTOMER NAME:</td>
                            <td class="badge badge-pill badge-success">
                              {{loanDetails.customers_name}}
                            </td>
                          </tr>
                          <tr>
                              <td class="text-secondary ">AMOUNT DUE:</td>
                              <td class="badge badge-pill badge-success">

                                {{loanDetails.loan_amount_due|number}}
                              </td>

                            </tr>
                        </tbody>
                      </table> -->
                    <!-- </div> -->
                      <!-- <div class="row d-flex flex-row" *ngIf='checkedOk'>
                          <div class="col">
                          <div class="form-group">

                              <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
                              <button class="btn btn-secondary mx-2" (click)="refresh()">Cancel</button>
                              <ngx-alerts></ngx-alerts>
                             <ngx-spinner
                             class="bg-success"
                            size="medium"
                            type="line-spin-fade" >
                            <p class="text-light">Wait!!!...</p>
                              </ngx-spinner>

                               <label class="col"  *ngIf="errored" class="text-danger"> -->
                                <!-- <i class="material-icons">cancel</i> -->
                                 <!-- <ngx-alerts></ngx-alerts>
                                </label>

                                <label class="col"  *ngIf="posted" class="text-info">
                                  <i class="material-icons">check_circle</i>
                                   <ngx-alerts></ngx-alerts>
                                     </label> </div> </div></div>

                </form>

              </div>

                                    </div>

 -->
                                  <!-- </div> -->

                                  <!-- </div> -->




                                <!-- </div> -->
                                <!-- <div class="card-footer text-muted text-center">
                                The Petrol Company:<span class="badge badge-warning"><strong> {{theCompany}}</strong> </span> The Petrol station:<span class="badge badge-danger"><strong>{{station}}</strong> </span>
                                </div>
                              </div>
    </div>

    </div>

        </div> -->
