.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 0px !important;
  margin-left: 100px !important;
  contain: auto;
}

.card1 {
  width: 100%;
  height: 100%;
  max-width: 310px;
  min-width: 280px;
  border-radius: 5px;
  contain: auto;
}
.invest-card {
  height: 100%;
  overflow-y: auto;
}
.state-table {
  position: relative;
  width: 100% !important;
  max-width: 900px !important;
  align-self: center;
  contain: auto;
}

h4 {
  font-size: 16px;
}

button.btn {
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important;
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}
.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}

.pointerCursor {
  cursor: pointer;
}

//media queries
@media (min-width: 320px) {
  .rub-head4 {
    margin-left: 160px !important;
  }

  .card1 {
    max-width: 310px;
    min-width: 290px;
    max-height: 250px;
    min-height: 200px;
    margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 45px !important;
  }
}

@media (min-width: 360px) {
  .rub-head4 {
    margin-left: 180px !important;
  }

  .card1 {
    max-width: 350px;
    min-width: 330px;
    max-height: 320px;
    min-height: 270px;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 375px) {
  .rub-head4 {
    margin-left: 180px !important;
  }
  .card1 {
    max-height: 340px;
    min-height: 300px;
    padding-bottom: 15px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 35px !important;
  }
}

@media (min-width: 410px) {
  h4 {
    font-size: 18px;
  }
  .rub-head4 {
    margin-left: 200px !important;
  }

  .card1 {
    max-width: 390px;
    min-width: 370px;
    max-height: 390px;
    min-height: 330px;
  }
  .jumbotron-fluid {
    margin-bottom: 60px !important;
  }
}

@media (min-width: 445px) {
  .rub-head4 {
    margin-left: 220px !important;
  }

  .card1 {
    max-width: 420px;
    min-width: 400px;
    max-height: 270px;
    min-height: 220px;
  }
  .jumbotron-fluid {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 568px) {
  .rub-head4 {
    margin-left: 310px !important;
  }

  .card1 {
    max-width: 550px;
    min-width: 520px;
    max-height: 320px;
    min-height: 270px;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .card1 {
    max-width: 540px;
    min-width: 510px;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .rub-head4 {
    margin-left: 410px !important;
  }
  .card1 {
    max-width: 720px;
    min-width: 690px;
    max-height: 660px;
    min-height: 620px;
  }
  .invest-card {
    max-height: 650px;
    min-height: 610px;
  }
  h4 {
    font-size: 20px !important;
  }
  .table-col {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 10px !important;
  }
}

@media (min-width: 812px) {
  .card1 {
    max-height: 300px;
    min-height: 260px;
  }
  .invest-card {
    max-height: 280px;
    min-height: 240px;
  }
  .table-col {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .rub-head4 {
    margin-left: 390px !important;
  }
  .card1 {
    max-width: 720px;
    min-width: 670px;
    max-height: 1030px;
    min-height: 950px;
    margin-bottom: 30px !important;
  }
  .invest-card {
    max-height: 1010px;
    min-height: 930px;
  }
  .table-col {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 45px !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1260px;
    min-width: 1232px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .rub-head4 {
    margin-left: 820px !important;
  }
  .card1 {
    max-width: 1260px;
    min-width: 1232px;
    max-height: 540px;
    min-height: 470px;
    margin-bottom: 35  px !important;
  }
  .invest-card {
    max-height: 520px;
    min-height: 450px;
    }
      h4 {
    font-size: 22px !important;
  }
  .table-col {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .state-table {
    max-width: 1360px !important;
    max-height: 500px !important;
    min-height: 430px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 30px !important;
  }
}

@media (min-width: 1320px) {
  .jumbotron-fluid {
    width: 100% !important;
    max-width: 1400px !important;
    min-width: 1352px !important;
      }
      .container {
        max-width: 1400px !important;
        min-width: 1352px !important;
      }
      .card1 {
        max-width: 1400px;
        min-width: 1252px;
      }
  }
