.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 0px !important;
  margin-left: 100px !important;
  contain: auto;
}

.card-body {
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 260px;
  border-radius: 8px;
contain: auto;
}

h5 {
  font-size: 15px;
}

button.btn {
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee
}
  .btn-info:hover, .btn-info:focus {
    color: #d9dbdd;
    background-color: #17aae0ee;
    border-color: #17aae0ee
  }
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem #0e99ccee
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .rub-head4 {
    margin-left: 110px !important;
  }

  .card-body {
    max-width: 320px;
    min-width: 290px;
    max-height: 230px;
    min-height: 180px;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 35px !important;
  }
  }

@media (min-width: 360px) {
  .rub-head4 {
    margin-left: 135px !important;
  }
  .card-body {
    max-width: 360px;
    min-width: 330px;
    max-height: 250px;
    min-height: 210px;
    padding-top: 25px !important;
    margin-bottom: 35px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 65px !important;
  }
}

@media (min-width: 375px) {
  .rub-head4 {
    margin-left: 150px !important;
  }
    .card-body {
      max-width: 375px;
      min-width: 345px;
      margin-top: 10px !important;
      margin-bottom: 160px !important;
    }
    .jumbotron-fluid {
      padding-top: 10px !important;
      padding-bottom: 90px !important;
    }

    }

@media (min-width: 410px) {
  h5 {
    font-size: 18px;
  }
  .rub-head4 {
    margin-left: 140px !important;
  }
  .card-body {
    max-width: 375px;
    min-width: 345px;
    margin-top: 10px !important;
    margin-bottom: 60px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 90px !important;
  }
}

@media (min-width: 445px) {
  .rub-head4 {
    margin-left: 165px !important;
  }
    .card-body {
      max-width: 410px;
      min-width: 390px;
      padding-top: 20px !important;
      margin-bottom: 0px !important;
    }
    .jumbotron-fluid {
      padding-bottom: 35px !important;
    }
}

@media (min-width: 568px) {
  .rub-head4 {
    margin-left: 170px !important;
  }
    .card-body {
      padding-top: 10px !important;
    }
    .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 35px !important;
    }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  h5 {
    font-size: 20px !important;
  }
    .card-body {
      padding-top: 25px !important;
      margin-bottom: 180px !important;
    }
    .jumbotron-fluid {
      padding-top: 30px !important;
      padding-bottom: 180px !important;
    }
}

@media (min-width: 812px) {
    .card-body {
      padding-top: 10px !important;
      margin-bottom: 5px !important;
    }
    .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 5px !important;
    }
}

@media (min-width: 1024px) {
  h5 {
    font-size: 22px !important;
}
.rub-head4 {
  margin-left: 150px !important;
}
.card-body {
    padding-top: 25px !important;
    margin-bottom: 230px !important;
  }
  .jumbotron-fluid {
    padding-top: 50px !important;
    padding-bottom: 270px !important;
  }
}

@media (min-width: 1100px) {
}


@media (min-width: 1280px) {
  h5 {
    font-size: 24px !important;
  }
  .card-body {
    padding-top: 25px !important;
    margin-bottom: 90px !important;
  }
  .jumbotron-fluid {
    padding-top: 50px !important;
    padding-bottom: 130px !important;
  }
}

@media (min-width: 1320px) {
}

