.h5{
  color: #f2f6fad8 !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 1.25rem;
  line-height: inherit;
  height: 4.25rem;
  white-space: nowrap;
  color: #f2f6fad8 !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
  border: 0px;
  border-color: transparent;
  text-decoration: none;
}

//media queries
@media (min-width: 360px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
}

@media (min-width: 375px) {
  .navbar-brand {
    font-size: 1.36rem;
  }
}

@media (min-width: 400px) {
}

@media (min-width: 440px) {
}

@media (min-width: 568px) {
  .navbar-brand {
    font-size: 1.42rem;
    // margin-bottom: .39rem !important;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 730px) {
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.46rem;
  }
}

@media (min-width: 811px) {
}

@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .navbar-brand {
    font-size: 1.56rem;
  }
}

@media (min-width: 1320px) {
}
@media (min-width: 1410px) {
}
