
   
   <div class="row my-5 mx-auto flex flex-row justifycontent-center">
        <div class="col-lg-4 col-xs-12"></div>
   <div class="col-lg-4 col-xs-12">
   <div class="card">
        <div class="card-header">
                <h4 class="text-info text-center">Please Enter your registered Phone Number</h4>
  

        </div>
      <div class="card-body login-card-body">
        
        <form [formGroup]="userForm">

        

          <div class="form-group">
                <!-- <label for="main_contact_number" [ngClass]=" fval.main_contact_number.valid ? 'text-success' : ''" >Enter Registered Number<i  *ngIf="fval.main_contact_number.valid" class="material-icons">check_circle</i></label> -->
          
                <div class="input-group-append">
                <input id="main_contact_number" formControlName="main_contact_number" type="text" class="form-control"  [ngClass]=" { 'is-invalid': (fval.main_contact_number.touched||fval.main_contact_number.dirty) && fval.main_contact_number.errors }" placeholder="Mobile number like 07XXXXXXXX" autocomplete="off"/>
               
                        <div class="input-group-text">
                          <span class="fas fa-phone text-warning"></span>
                        </div>
                      </div>
            <div class="text-danger col" *ngIf="(fval.main_contact_number.touched||fval.main_contact_number.dirty)  && fval.main_contact_number.errors?.required">The main mobile number is required</div>
            <div class="text-danger col" *ngIf="(fval.main_contact_number.touched||fval.main_contact_number.dirty)  && fval.main_contact_number.errors?.hasNumber">The main mobile number should be in digits/numbers</div> 
                    <div class="text-danger col" *ngIf="(fval.main_contact_number.touched||fval.main_contact_number.dirty)  && fval.main_contact_number.errors?.maxlength">The main mobile number should not exceed 10 digits</div>
                    <div class="text-danger col" *ngIf="(fval.main_contact_number.touched||fval.main_contact_number.dirty)  && fval.main_contact_number.errors?.minlength">The main mobile number  should have atleast 10 digits</div>
            </div> 

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      
      <!-- /.login-card-body -->
    </div>
</div></div>