<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-3">
    <div class="container mt-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-2 mt-1">
          <a class="text-info mx-1" routerLink="/dashboardpump">
            <i class="fas fa-arrow-left" aria-hidden="true"></i
          ></a>
        </div>
        <div class="col-10">
          <h5
            class="rub-head4 text-info align-right font-weight-bold pt-0 py-1"
          >
            Shift Management
          </h5>
        </div>
      </div>
    </div>
    <div class="card1 card shadow-lg mt-2 mb-0 mx-0 pb-1">
      <div class="card-header">
        <button
          type="btn"
          [ngClass]="status ? 'btn-info' : 'btn-danger'"
          (click)="updateShiftRecords()"
        >
          {{ actionButton }}
        </button>
      </div>
      <div class="invest-card card-body p-0">
        <div class="row mx-auto" *ngIf="!balanceEnough">
          <div class="col">
            <div class="msg border border-aqua mt-3 mx-auto p-3">
              <label class="text-danger"
                >{{ station }} Petrol Station Has Zero Balance!</label
              >
              <div class="text center">
                <button
                  class="btn btn-info"
                  routerLink="/dashboardpump/depositwithdraw"
                >
                  First Deposit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table
            class="table table-condensed table-striped table-sm"
            *ngIf="balanceEnough"
          >
            <tbody>
              <tr>
                <td class="text-primary">Shift ID</td>
                <td>
                  <span class="badge badge-pill badge-info p-2">{{
                    shiftDetails.shift_id
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">Shift Status</td>
                <td>
                  <span class="badge badge-pill badge-success p-2">{{
                    shiftDetails.shift_status
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">Open Date</td>
                <td>
                  <span class="badge badge-pill badge-warning p-2">{{
                    shiftDetails.shift_date
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">Open Time</td>
                <td>
                  <span class="badge badge-pill badge-primary p-2">{{
                    shiftDetails.open_time
                  }}</span>
                </td>
              </tr>

              <tr *ngIf="!status">
                <td class="text-primary">Closing Time</td>
                <td>
                  <span class="badge badge-pill badge-primary p-2">{{
                    shiftDetails.close_time
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">Opening Balance</td>
                <td>
                  <span class="badge badge-pill badge-secondary p-2">{{
                    shiftDetails.shift_opening_bal | number
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">{{ closingBal }}</td>
                <td>
                  <span class="badge badge-pill badge-secondary p-2">{{
                    shiftDetails.shift_closing_bal | number
                  }}</span>
                </td>
              </tr>
              <tr>
                <td class="text-primary">Opened By</td>
                <td class="badge badge-pill badge-danger p-2">
                  <!-- <h5><span class="badge badge-pill badge-danger"> -->
                  {{ shiftDetails.opened_by }}
                  <!-- </span></h5> -->
                </td>
              </tr>

              <tr *ngIf="!status">
                <td class="text-primary">Closed By</td>
                <td>
                  <span class="badge badge-pill badge-danger p-2">{{
                    shiftDetails.closed_by
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-2 mx-auto px-0"
    >
      <div class="small text-center text-info mx-0 px-0">
        Area Region:<span class="text-primo font-weight-bold"
          ><strong> {{ theCompany }}</strong>
        </span>
        Service station:<span class="text-primo font-weight-bold"
          ><strong>{{ station }}</strong>
        </span>
      </div>
    </div>
  </div>
</div>
