.jumbotron-fluid {
  height: inherit !important;
}
.card-body {
  height: inherit;
  min-height: 450px !important;
  max-height: 520px !important;
  margin-bottom: 0rem;
  border-radius: 8px;
}

.text-info {
  color: #17aae0ee !important
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}
.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}

button.btn {
  border-radius: 15px;
}

.pointerCursor {
  cursor: pointer;
}

h3 {
  font-size: 13px !important;
}

//media queries
@media (min-width: 320px) {
  h3 {
    font-size: 17px !important;
  }
  .card-body {
    height: inherit;
    max-width: 310px;
    min-width: 260px;
    min-height: 390px !important;
    max-height: 480px !important;
    margin-bottom: 0rem;
    border-radius: 8px;
  }
  .jumbotron-fluid {
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
  .card-body {
    max-width: 350px;
    min-width: 320px;
  }
}

@media (min-width: 375px) {
  .card-body {
    max-width: 360px;
    min-width: 350px;
    max-height: 480px;
    min-height: 440px;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
  }
  .jumbotron-fluid {
    padding-top: 40px !important;
    margin-bottom: 35px !important;
  }
}

@media (min-width: 410px) {
  h3 {
    font-size: 20px !important;
  }
  .card-body {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    padding-bottom: 15px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    margin-bottom: 20px !important;
  }
}

@media (min-width: 568px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  h3 {
    font-size: 24px !important;
  }
  .card-body {
    margin-top: 30px !important;
    margin-bottom: 55px !important;
  }
  .jumbotron-fluid {
    padding-top: 60px !important;
    padding-bottom: 90px !important;
  }
}

@media (min-width: 812px) {
  .card-body {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .card-body {
    margin-top: 30px !important;
    margin-bottom: 160px !important;
    padding-bottom: 20px !important;
  }
  .jumbotron-fluid {
    padding-top: 140px !important;
    padding-bottom: 190px !important;
  }
.fa-parking
{
  font-size: 40px;
}
}


@media (min-width: 1100px) {
  h3 {
    font-size: 26px !important;
  }
}

@media (min-width: 1280px) {
  .card-body {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .jumbotron-fluid {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1320px) {
}
